<div class="projects-on-going-inner">
  <div class="data-top-outer">
    <h4 class="title">
      ON GOING PROJECTS
    </h4>
    <p class="point-text">
      Projects where Development work is on completion
    </p>
  </div>
  <div class="projects-data-outer">
    <div class="projects">
      <div class="projects-inner">
        <div class="team-outer">
          <div class="avatar-outer">
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2FEnoke.jpg?alt=media&token=4271d8b6-9d7f-49cb-a719-94940eb457c4"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2FShalin.jpg?alt=media&token=f8f2352d-9ee4-4e71-931c-630b33c4f34f"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2Fsudara.jpg?alt=media&token=40730e0a-9927-4848-ac63-7c6dd7ef2151"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2FEnoke.jpg?alt=media&token=4271d8b6-9d7f-49cb-a719-94940eb457c4"
                alt="Avatar"
                class="avatar">
            </div>
          </div>
          <div class="team-name">
            <h3 class="name-text">
              The Code of Duty
            </h3>
          </div>
          <div class="ham">
            <button class="ham-burger">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        <div class="project-details-outer">
          <h3 class="project-name">"Super Max" Car Rental System</h3>
          <h5 class="dates">23 April 2022 - 30 May 2020</h5>
          <div class="chart-outer">
            <mat-progress-spinner
              [diameter]="70"
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="value">
            </mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
    <div class="projects">
      <div class="projects-inner">
        <div class="team-outer">
          <div class="avatar-outer">
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2Fhansani.jpg?alt=media&token=d4f1a8cc-557e-47ec-af7b-b4d9d74413e0"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2Fsudara.jpg?alt=media&token=40730e0a-9927-4848-ac63-7c6dd7ef2151"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2Fsaranga.jpg?alt=media&token=bdf17fd9-ce1f-4dff-8a53-4215d6766003"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2FShalin.jpg?alt=media&token=f8f2352d-9ee4-4e71-931c-630b33c4f34f"
                alt="Avatar"
                class="avatar">
            </div>
          </div>
          <div class="team-name">
            <h3 class="name-text">
              Abstract Connoisseurs
            </h3>
          </div>
          <div class="ham">
            <button class="ham-burger">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        <div class="project-details-outer">
          <h3 class="project-name">"E-Text" Online Messaging System</h3>
          <h5 class="dates">25 Jan 2022 - 16 Feb 2020</h5>
          <div class="chart-outer">
            <mat-progress-spinner
              [diameter]="60"
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="value">
            </mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
    <div class="projects">
      <div class="projects-inner">
        <div class="team-outer">
          <div class="avatar-outer">
            <div class="avatar-wrapper">
              <img
                src="https://www.cnet.com/a/img/resize/529e22c1cf902837e010e980a1efe8be4173e3bc/2019/01/11/b251bf04-5bf8-469a-be8d-79489551460b/avatar-2009.jpg?auto=webp&fit=crop&height=675&width=1200"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img
                src="https://media.npr.org/assets/artslife/movies/2009/12/avatar/humanandavatar2_wide-9ca5ec08f4a3ed44071053fdf642030ac77bb41d-s1100-c50.jpg"
                alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img src="https://i.ytimg.com/vi/058s3smFXx0/maxresdefault.jpg" alt="Avatar" class="avatar">
            </div>
            <div class="avatar-wrapper">
              <img src="https://townsquare.media/site/442/files/2020/01/avatar-10-year.jpg?w=980&q=75" alt="Avatar"
                   class="avatar">
            </div>
          </div>
          <div class="team-name">
            <h3 class="name-text">
              Abstract Connoisseurs
            </h3>
          </div>
          <div class="ham">
            <button class="ham-burger">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        <div class="project-details-outer">
          <h3 class="project-name">Super Max System</h3>
          <h5 class="dates">25 August 2022 - 12 May 2020</h5>
          <div class="chart-outer">
            <mat-progress-spinner
              [diameter]="60"
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="value">
            </mat-progress-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="paginator-outer">
    <mat-paginator [hidePageSize]="true" [length]="length"
                   [pageSize]="pageSize"
                   (page)="pageEvent = $event"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
