<div class="main-outer" data-aos="slide-up" data-aos-duration="2000" data-aos-once="true">
  <div class="row" style="margin: 0">
    <div class="left col-lg-6">
      <h1 class="title">WHY CHOOSE US?</h1>
      <div class="image">
        <img src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fabout%2FWhy%20choose%20us.jpg?alt=media&token=dbb1f37e-18c0-494a-a431-be5c866187bd" alt="Why choose e-dealers">
      </div>
    </div>
    <div class="right col-lg-6">
      <div class="row right-inner">
        <div class="text col-12 ">
          <div class="number">01</div>
          <div class="text-inner">
            <h2>Talented Developers</h2>
              <p class="paragraph">A product's success is almost always due to the efforts of its creators. Furthermore, no outstanding
                product is built without the help of talented coders. After we have developed a conceptual design for our
                customer, we will bring it to life using our own imagination and talents, resulting in an extraordinary
                piece of artwork.
              </p>
          </div>
        </div>
        <div class="text col-12">
          <div class="number">02</div>
          <div class="text-inner">
            <h2>20% Earning process</h2>
            <p class="paragraph">The development process is done and we reimburse our customer for 20% of the project's initial cost at
              the conclusion of the project. As a result, party A may be able to earn a consistent revenue as a result
              of this.</p>
          </div>
        </div>
        <div class="text col-12">
          <div class="number">03</div>
          <div class="text-inner">
            <h2>2 yrs of Excellence</h2>
            <p class="paragraph">By using cutting-edge technology, Seekers Cloud aims to disrupt our customers' expectations. Every
              product that we make is designed to meet the needs and expectations of our consumers. For the sake of
              backing up our design statements, we believe our designs are wonderful examples of high-calibre magnum
              opuses where beauty and skill meet to stimulate your thoughts.</p>
          </div>
        </div>
        <div class="text col-12">
          <div class="number">04</div>
          <div class="text-inner">
            <h2>Reliability</h2>
            <p class="paragraph">If creativity is not accompanied with an equal level of reliability, it is not worth a dime in the first
              place.So we are concentrating not only on producing creative software but also on developing software that
              is reliable.
            </p>
          </div>
        </div>
        <div class="text col-12">
          <div class="number">05</div>
          <div class="text-inner">
            <h2>Responsibility</h2>
            <p class="paragraph">The project is fully responsible for any technical issues that arise at any point throughout the process
              or after it has been completed, and we assume full responsibility for the entire project if this
              occurs.</p>
          </div>
        </div>
        <div class="text col-12">
          <div class="number">06</div>
          <div class="text-inner">
            <h2>Quality</h2>
            <p class="paragraph">The goal of quality planning is to provide the products and processes necessary to satisfy the needs of
              the client. As a result, we strive to deliver items of the best possible standard to all of our
              customers.</p>
          </div>
        </div>
        <div class="text col-12">
          <div class="number">07</div>
          <div class="text-inner">
            <h2>After Services</h2>
            <p class="paragraph">An after-service is provided to our customers at no additional charge following the completion of a
              project by us. Software maintenance is our responsibility there.
            </p>
          </div>
        </div>
        <div class="text col-12">
          <div class="number">08</div>
          <div class="text-inner">
            <h2>Fast Development</h2>
            <p class="paragraph">In order to provide our clients with a speedy development process that is also of high quality, our
              development team has made a commitment to this goal.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


