<div class="who-are-we-main-outer row">
  <div data-aos="slide-right" data-aos-duration="2000"  data-aos-once="true"  class="left col-12 col-xl">
    <div class="image-container">
      <div class="image-outer image-two">
        <img alt=""
             src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fmain-page%2Fwho-we-are-2.png?alt=media&token=739778e8-e160-4e94-880f-f3803a108248">

      </div>
      <div class="image-outer image-one">
        <img alt=""
             src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fmain-page%2Fwho-we-are-1.png?alt=media&token=17f77535-c1ab-421e-b903-41e044fef758">
      </div>
    </div>
  </div>
  <div data-aos="slide-left" data-aos-duration="2000"  data-aos-once="true" class="right col-12 col-lg">
    <div class="heading">
      <h1>who we are</h1>
    </div>
    <h3>Quality is an expression of pride in our work</h3>
    <p>Quality is never achieved by chance. In every case, it is the consequence of deliberate effort.
      As a result, we make every effort to provide our customers with products of exceptional quality.
      Consequently, we have partnered with an established software business in order to provide an invaluable service.
    </p>
    <div class="counter-section row">
      <div class="count col-12 col-sm-6">
        <h1>24/7</h1>
        <h5>Service</h5>
      </div>
      <div class="count col-12 col-sm-6">
        <h1>2 Years</h1>
        <h5>Of Experience</h5>
      </div>
      <div class="count col-12 col-sm-6">
        <h1>1 Year</h1>
        <h5>Free After Service</h5>
      </div>
      <div class="count col-12 col-sm-6">
        <h1>100%</h1>
        <h5>Reliability</h5>
      </div>
    </div>
  </div>
</div>
