<div class="main-outer m-0" data-aos="slide-up" data-aos-duration="2000"  data-aos-once="true">
  <div class="row p-0 m-0">
    <div class="col-12 col-xl-6 col-lg-6 col-sm-12 col-A ">
      <div class="text-container">
       <h6 class="u-text-1">about us</h6>
        <h2 class="u-text-2">This place is special...</h2>
      </div>

    </div>
    <div class="col-12 col-xl-6 col-lg-6 col-sm-12 col-B ">
      <div class="text-container">
        <p class="text">Your future billion-dollar revenues will be determined by the progress that takes place now. The
          ability to complete a task once and correctly is critical to attracting delighted customers around the world.
          We develop software by combining a variety of technologies and cutting-edge ideas in order to achieve your
          goals and objectives.
      </div>
    </div>
  </div>
</div>
