.main-outer {
  background-color: rgba(236, 240, 241,1.0);
  width: 100%;
  height: auto;
  padding: 5%;
}

.col-A {
  position: relative;
  display: flex;
  max-width: 100%;
  //justify-content: end;
  .text-container {
    //width: 75%;
    padding: 0 30px 50px 30px;
    //box-shadow: 0 0 40px 0 rgb(64 64 64 / 25%);
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-text-1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
  }

  .u-text-2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 20px 0 0;
    font-family: Roboto, sans-serif;
    line-height: 1.1;
  }

}

.col-B {
  display: flex;
  //justify-content: start;

  .text-container {
    width: 100%;
    padding: 30px 30px 30px 30px;
  }

  .text {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-align: justify;
  }
}

/*@media all and (max-width: 515px) {
  .col-A{
    position: relative;
    display: flex;
    max-width: 100%;
    //justify-content: end;
    .text-container{
      //width: 75%;
      padding: 50px 30px 50px 30px;
      //box-shadow: 0 0 40px 0 rgb(64 64 64 / 25%);
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .u-text-1{
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.5rem;
      margin: 0;
    }
    .u-text-2{
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      margin: 20px 0 0;
      font-family: Roboto,sans-serif;
      line-height: 1.1;
    }

  }

}*/
@media all and (max-width: 1029px) {

  .col-A {
    .u-text-2 {
      font-size: 3rem;
    }
  }
}

@media all and (max-width: 991px) {

  .col-A {
    .text-container {
      padding-bottom: 0;
    }
  }
}

@media all and (max-width: 410px) {

  .col-A {
    .u-text-2 {
      font-size: 2rem;
    }
  }
}
