<div class="knowledge-center-main-entry-points-main-outer container">
  <div class="cards-outer row">
    <div class="card col-12 col-md-6"  data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content row">
        <div class="image-outer col-12 col-lg-auto">
          <mat-icon>touch_app</mat-icon>
        </div>
        <div class="text col-12 col-lg">
          <h2>Getting started</h2>
          <p>Are you stuck in a project? Do you lack understanding in a key field? or Do you want a high-quality
            product? You've come to the correct place.
            We promise to give you a high-quality product at an affordable price. If you come in, we will give you a
            reason to return. So submit your inquiry and get amazing customer service.
          </p>
        </div>
      </div>
    </div>
    <div class="card col-12 col-md-6" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content row">
        <div class="image-outer col-12 col-lg-auto">
          <mat-icon>handshake</mat-icon>
        </div>
        <div class="text col-12 col-lg">
          <h2>Project Confirmation</h2>
          <p>Get the project confirmation
            After reviewing the project proposal, we determine whether the project meets the company's standards and, if
            so, we are ready to sign the agreement with party A for development confirmation.</p>
        </div>
      </div>
    </div>
    <div class="card col-12 col-md-6" data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content row">
        <div class="image-outer col-12 col-lg-auto">
          <mat-icon>developer_mode</mat-icon>
        </div>
        <div class="text col-12 col-lg">
          <h2>Development</h2>
          <p>Quality is never achieved by chance. In every case, it is the consequence of deliberate effort. So,
            following the confirmation, we begin the project's development process,
            during which we present our customers with a sprint,
            a status update, and other relevant information.
          </p>
        </div>
      </div>
    </div>
    <div class="card col-12 col-md-6" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content row">
        <div class="image-outer col-12 col-lg-auto">
          <mat-icon>payments</mat-icon>
        </div>
        <div class="text col-12 col-lg">
          <h2>Deployment and Earn</h2>
          <p>From conception to completion, it is a long journey. Following the completion of a high-quality project, we
            are offering a 20% discount on the original project fee to the principal user of the app, as well as a
            one-year free after-service.</p>
        </div>
      </div>
    </div>

  </div>
</div>
