<hr>
<div class="knowledge-center-faq container">
  <div class="faq-cards-outer row">
    <div class="faq-card col-12 col-lg-6"  data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content-outer">
        <div class="question-heading">
          <h3>How can i earn with E-Dealers?</h3>
          <button class="button" mat-flat-button>
            <span class="icon-outer">
              <mat-icon>add_circle</mat-icon>
            </span>
          </button>
        </div>
        <div class="question-body">
          <p>When the development process is completed, we reimburse our customer for 20 percent of the project's
            initial cost, and also when you be a premium member your income will be increased. there are 3 types of
            members, [Basic, Gold, Platinum] so your income rate will be increased with your member type.(up to 30%)</p>
        </div>
      </div>
    </div>
    <div class="faq-card col-12 col-lg-6" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content-outer">
        <div class="question-heading">
          <h3>How can i manage my software applications</h3>
          <button class="button" mat-flat-button>
            <span class="icon-outer">
              <mat-icon>add_circle</mat-icon>
            </span>
          </button>
        </div>
        <div class="question-body">
          <p>After you register as an E-Dealers member, you will have an account to access our dashboard. and you can
            find so many services from there. such as All on going projects, all the clients list, server maintainers
            cost ect..</p>
        </div>
      </div>
    </div>
    <div class="faq-card col-12 col-lg-6" data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content-outer">
        <div class="question-heading">
          <h3>Do E-Dealers Provide a Development Team?</h3>
          <button class="button" mat-flat-button>
            <span class="icon-outer">
              <mat-icon>add_circle</mat-icon>
            </span>
          </button>
        </div>
        <div class="question-body">
          <p>Yes. we have so many development teams all around the world. and when we start a project we provide well
            qualified development team. so our clients don't want to worry about the development, E-Dealers will take
            the Responsibility. because we have made a bond with "Seekers Cloud" Software company.</p>
        </div>
      </div>
    </div>
    <div class="faq-card col-12 col-lg-6" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content-outer">
        <div class="question-heading">
          <h3>What About After Service?</h3>
          <button class="button" mat-flat-button>
            <span class="icon-outer">
              <mat-icon>add_circle</mat-icon>
            </span>
          </button>
        </div>
        <div class="question-body">
          <p>
            When we talk about after-service, we will provide one year free service for every project. (terms &
            conditions apply).
          </p>
        </div>
      </div>
    </div>
    <div class="faq-card col-12 col-lg-6" data-aos="slide-right" data-aos-duration='2000' data-aos-once="true" >
      <div class="card-content-outer">
        <div class="question-heading">
          <h3>What are Membership rates?</h3>
          <button class="button" mat-flat-button>
            <span class="icon-outer">
              <mat-icon>add_circle</mat-icon>
            </span>
          </button>
        </div>
        <div class="question-body">
          <p>if you are a beginner to our platform, probably you will have the BASIC membership. with this membership
            you
            will have 20% of every software project that you provide us to develop. and then GOLD membership with it you
            will earn 25% and finally 30% will have with PLATINUM membership.</p>
        </div>
      </div>
    </div>
    <div class="faq-card col-12 col-lg-6" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
      <div class="card-content-outer">
        <div class="question-heading">
          <h3>How can i Contact E-Dealers?</h3>
          <button class="button" mat-flat-button>
            <span class="icon-outer">
              <mat-icon>add_circle</mat-icon>
            </span>
          </button>
        </div>
        <div class="question-body">
          <p>we provide our service 24/7 across 65 countries. so if you want to join with us here is the link to join <a
            routerLink="/home/contact">Contact Us</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
