<div class="main-outer">
  <div class="container">
    <div class="row main-outer-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 row-col-1" data-aos="slide-right" data-aos-duration="2000" data-aos-once="true">
        <h1>Why US ?</h1>
        <span>
        It is necessary to take action in order to actualize dreams. It is our responsibility to infuse your dreams with warm, fuzzy sensations of love and affection, so that you can experience the pleasure of dreams coming true that is virtually impossible to describe in language.
</span>
        <p>If creativity isn't supported with a high level of dependability, it's not worth much in the first place. As
          a
          result, we are focusing not only on generating creative software, but also on developing trustworthy software.
          Furthermore, the project is totally liable for any technical issues that happen during the process or after it
          has been completed, and we assume full responsibility for the entire project if this occurs.</p>

        <p>

        </p>
      </div >
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 row-col-2"  data-aos="slide-left" data-aos-duration="2000" data-aos-once="true" >
        <div class="comments">
          <div class="comment-profile">
            <div class="comments-profile-photo">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2FHasika.jpg?alt=media&token=952a310d-27b3-4a2b-9b2a-673edeef1f9a"
                alt="">
            </div>
            <div>
              <h1>Hasika Sandaruwan</h1>
              <p>Founder at E-Dealers</p>
            </div>
          </div>
          <p>There are numerous apps in the world that are used for a variety of purposes, but when the idea of
            producing the app occurred to me, I didn't want to design just another app, but one that would better
            people's lives and make a revolution in the industry. It not only serves to create an unprecedented
            masterpiece that combines cutting-edge technology with outstanding artwork, but it also serves to provide a
            steady income for party A.</p>
        </div>
      </div>
    </div>
  </div>
</div>
