<div class="main-outer">
  <div class="header-outer">
    <div class="logo-outer" routerLink="/">
      <img src="../../../../../assets/logo/logo%20white.png" alt="edealers logo">
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12 col-md-6">
      <div class="left outer">
        <div class="image-outer">
          <img
            src="https://img.freepik.com/free-vector/two-business-partners-shaking-hands-big-briefcase-partnership-agreement-cooperation-deal-completed-concept-white-background_335657-1643.jpg?t=st=1653496121~exp=1653496721~hmac=4292bdf7788e2ae85453100d834def0fd93ad9d53f2b75250927672a3b0e4b14&w=740"
            alt="E-Dealer">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="right outer">
        <div class="character-set">
          <h1 class="title-1">Hello! welcome aboard</h1>
          <h2 class="title-2">Congratulations your registration is confirmed!</h2>
          <p class="desc">
            you have registered with <b>E-Dealers</b> platform. but before we getting started, we need to configure some legal
            things from here. please wait until the verification. we will notify you withing few moment, then you can have a
            great service from E-Dealers.
          </p>
          <button mat-raised-button color="primary" routerLink="/dashboard/loading-admin-panel">Access Dealer Console</button>
        </div>
      </div>
    </div>
  </div>
  <app-main-footer></app-main-footer>
</div>
