<div class="container-fluid">
  <div class="how-do-we-process-main-outer row">
    <div data-aos="slide-right" data-aos-duration="2000" data-aos-once="true" class="left col-md-12 col-lg-7 col-xl-6" style="overflow-x: hidden;overflow-y: hidden">
      <div class="image-outer">
        <div class="image-inner">
          <div class="design-div-outer">
            <div class="design-div-one"></div>
            <div class="design-div-two"></div>
          </div>
        </div>
      </div>
    </div>

    <div data-aos="slide-left" data-aos-duration="2000"  data-aos-once="true" class="right col-md-12 col-lg-5 col-xl-6" style="overflow-x: hidden;overflow-y: hidden">
      <h2 class="title-text">
        How Do We Process
      </h2>

      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Inquiries">
          <div class="data-outer">
            <h2>Make an inquiry</h2>
            <p>Are you stuck in a project? Do you lack understanding in a key field? or Do you want a high-quality
              product?
              You've come to the correct place.
              We promise to give you a high-quality product at an affordable price. If you come in, we will give you a
              reason to return. So submit your inquiry and get amazing customer service.
            </p>
          </div>

        </mat-tab>
        <mat-tab label="Contact">
          <div class="data-outer">
            <h2>Interact with our team</h2>
            <p>Quality planning entails establishing the products and procedures required to fulfill the needs of the
              customer. Therefore, in order to provide exceptional customer service, within 24 hours of your query, we are
              prepared to speak with you about the project details.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Confirmation">
          <div class="data-outer">
            <h2>Get the project confirmation</h2>
            <p>After reviewing the project proposal, we determine whether the project meets the company's standards and,
              if
              so, we are ready to sign the agreement with party A for development confirmation.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Development">
          <div class="data-outer">
            <h2>Project development Process</h2>
            <p>Quality is never achieved by chance. In every case, it is the consequence of deliberate effort. So,
              following
              the confirmation, we begin the project's development process,
              during which we present our customers with a sprint,
              a status update, and other relevant information. </p>
          </div>
        </mat-tab>
        <mat-tab label="Completion">
          <div class="data-outer">
            <h2>Project Handover Process</h2>
            <p>From conception to completion, it is a long journey. Following the completion of a high-quality project, we
              are offering a 25% discount on the original project fee to the principal user of the app, as well as a
              one-year free after-service.</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
