<div class="main-outer">
  <div class="container">
    <div class="row main-outer-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 row-col-1"  data-aos="slide-right" data-aos-duration="2000" data-aos-once="true">
        <div class="row-col-1-content">
          <span>Advantages</span>
          <h1>Life with  <br> E-Dealers</h1>
          <p>
            For us, the most important visitor on our grounds is the consumer. As a result, we always strive to create a
            welcoming environment for them in order to provide a comprehensive customer experience.So we try to provide
            them with,
          </p>
          <div class="points-list">
            <ul>
              <li>Creative ideas</li>
              <li>Flexible payment plans</li>
              <li>Friendly customer service</li>
              <li>innovations</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 row-col-2"  data-aos="slide-left" data-aos-duration="2000" data-aos-once="true">
        <img src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fmake-money-with-us%2Flife%20with.jpg?alt=media&token=dee78cbd-f263-4fa9-a7e4-84dff901d14c" alt="Make money with us">
      </div>
    </div>
  </div>
</div>
