<div class="main-outer container">
  <h1 class="title">
    Welcome to E-dealers!
  </h1>
  <h4 class="intro">
    Get a taste of the
    quickest way to earn
    money
  </h4>
  <div class="outer row">
    <div class="col-12 col-md-6 inner-outer">
      <div class="inner" (click)="navigateToRegister('Dealer');">
        <div class="top">
          <div class="icon-outer">
            <mat-icon>handshake</mat-icon>
          </div>
          <div class="title-outer">
            <h2 class="type-text">
              Dealer
            </h2>
            <h5 class="short-desc">
              do you want to earn? or Are you stymied in the middle of a project? then let's get started.
            </h5>
          </div>
          <div class="overview-outer">
            <mat-icon routerLink="/home/overview">help</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="col-12 col-md-6 inner-outer">-->
    <!--      <div class="inner" (click)="navigateToRegister('Dealer')">-->
    <!--        <div class="top">-->
    <!--          <div class="icon-outer">-->
    <!--            <mat-icon>developer_mode</mat-icon>-->
    <!--          </div>-->
    <!--          <div class="title-outer">-->
    <!--            <h2 class="type-text">-->
    <!--              Software Developer-->
    <!--            </h2>-->
    <!--            <h5 class="short-desc">-->
    <!--              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore possimus, quasi quisquam quos ratione-->
    <!--              reprehenderit?-->
    <!--            </h5>-->
    <!--          </div>-->
    <!--          <div class="overview-outer">-->
    <!--            <mat-icon>help</mat-icon>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
