<div class="main-outer" data-aos="slide-up" data-aos-duration="2000"  data-aos-once="true">
  <div class="text-1">
    <h1>What type of service E-Dealers provide?</h1>
    <p class="paragraph">
      A product's success is almost always due to the efforts of its creators. Furthermore, no outstanding product is
      built without the help of talented coders. After we have developed a conceptual design for our customer, we will
      bring it to life using our own imagination and talents, resulting in an extraordinary piece of artwork.
    </p>
  </div>
  <div class="bottom">
    <app-provide-services></app-provide-services>
  </div>
</div>
