<div class="introduction-main-outer row" data-aos="slide-up"  data-aos-duration="2000"  data-aos-once="true">
  <div class="left col-12 col-lg-5">
    <h1>Little About E-Dealers</h1>
    <h2>"Are you stymied in the middle of a project? Do you have a dearth of knowledge in a particular field? Are you
      looking for a high-quality product? You've arrived to the correct location. We have a strong desire for
      high-quality products and ethical business practices, so this is a perfect fit.
      We guarantee that you will receive a high-quality product at a reasonable price. Come in and we'll give you a
      reason to come back again and again."</h2>
    <div class="profile">
      <div class="avatar-outer">
        <img class="avatar-image"
             src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2FHasika.jpg?alt=media&token=952a310d-27b3-4a2b-9b2a-673edeef1f9a"
             alt="Hasika">
      </div>
      <div class="details-outer">
        <h2 class="name-text">Hasika Sandaruwan</h2>
        <h4 class="occupation-text">Founder at E-Dealers</h4>
      </div>
    </div>
  </div>
  <div class="right col-12 col-lg-7">
    <div class="video-outer">
      <iframe class="intro-video" src="https://www.youtube.com/embed/F-rR4x_Hv8k" title="E-Dealers video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </div>
</div>
