<div class="main-outer">
  <div class="header-outer">
    <div class="logo-outer" routerLink="/">
      <img src="../../../../../assets/logo/logo%20white.png" alt="edealers logo">
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12 col-md-6">
      <div class="left outer">
        <div class="image-outer">
          <img
            src="https://img.freepik.com/free-vector/banned-website-illustration-concept-illustration-websites-landing-pages-mobile-applications-posters-banners-trendy-flat-vector-illustration_108061-994.jpg?w=740"
            alt="E-Dealer">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="right outer">
        <div class="character-set">
          <h1 class="title-1">Oops..</h1>
          <h2 class="title-2">seems like your account has been blocked!</h2>
          <p class="desc">
            if you have to see this page, unfortunately your account is suspended. please contact our customer service.
          </p>
          <button mat-raised-button color="primary" routerLink="/home/main/contact">Contact E-Dealers</button>
        </div>
      </div>
    </div>
  </div>
  <app-main-footer></app-main-footer>
</div>


<!--
<div class="main-outer">
  <div class="header-outer">
    <div class="logo-outer" routerLink="/">
      <img src="../../../../../assets/logo/logo%20white.png" alt="edeaers logo">
    </div>
  </div>
  <div class="outer">
    <h1 class="main-text">Hello! welcome aboard</h1>
    <p class="desc">
      Congratulations your registration is confirmed!<br>
      you have registered with <b>E-Dealers</b> platform. but before we getting started, we need to configure some legal
      things from here. please wait until the verification. we will notify you withing few moment, then you can have a
      great service from E-Dealers.
    </p>
  </div>
  <app-main-footer></app-main-footer>
</div>
-->
