<div class="main-outer">
  <div class="container">
    <div class="row main-outer-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 row-col-1 outer" data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
        <div class="upper-section">
          <div class="shadow">
            <button class="hidden-button"
                    (click)="openImage('https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fsystem-devlopment%2Fe-dealers-1.png?alt=media&token=9f46dbd3-2efd-4560-b186-5b4648c9a1e8')">
              Show More
            </button>
          </div>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fsystem-devlopment%2Fe-dealers-1.png?alt=media&token=9f46dbd3-2efd-4560-b186-5b4648c9a1e8"
            alt="E-Dealers">
        </div>
        <div class="bottom-section">
          <h1>Getting started with <br>E-Dealers</h1>
          <p>With our goal to providing a high-quality product at a reasonable price, we guarantee that if you come in,
            you will find a reason to return.</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 row-col-2 outer">
        <div class="bottom-section">
          <h1>Earn with E-Dealers</h1>
          <p>Technology has reduced the world to the size of a village; spirituality has reduced it to the size of a
            global family.</p>
        </div>
        <div class="upper-section">
          <div class="shadow">
            <button class="hidden-button"
                    (click)="openImage('https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fsystem-devlopment%2Fe-dealers-2.png?alt=media&token=e8181b3f-83d9-4e5a-a16f-d9cd868dc9b0')">
              Show More
            </button>
          </div>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fsystem-devlopment%2Fe-dealers-2.png?alt=media&token=e8181b3f-83d9-4e5a-a16f-d9cd868dc9b0"
            alt="E-Dealers">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 row-col-3" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
        <h1>Do you find yourself stuck in the middle of a project? Do you have a knowledge gap in a certain field? Do
          you
          want a high-quality product? OR Do you wish to earn a constant income? You've come to the right place. Join us
          in witnessing high-caliber magnum opuses, where skill and art combine to make your ideas shine.</h1>
       <div class="button-wrap">
         <button mat-flat-button color="primary" (click)="openModal()">Make an inquiry</button>
       </div>

      </div>
    </div>
  </div>
</div>
