<div class="main-outer">
  <div class="header-outer">
    <div class="logo-outer" routerLink="/">
      <img src="../../../../../../assets/logo/logo%20white.png" alt="edealers logo">
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12 col-md-6">
      <div class="left outer">
        <div class="image-outer">
          <img
            src="https://img.freepik.com/free-vector/error-404-concept-landing-page_52683-20173.jpg?t=st=1653408329~exp=1653408929~hmac=c28cbf11308d5c6b9929dfda33feedd65dfc4c5c89db27af13f0d032dd814563&w=740"
            alt="E-Dealer Not Found Page">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="right outer">
        <div class="character-set">
          <h1 class="title-1">Ooops.</h1>
          <h2 class="title-2">Relax, takeit easy. <br>
            Keep fresh your mind!</h2>
          <p class="desc">
            You find our error page 404, this is not your fault, it is just a little bit mistake. But don't worry. to
            navigate to home just click the button bellow.
          </p>
          <button mat-raised-button color="primary" routerLink="/">Navigate to Home</button>
        </div>
      </div>
    </div>
  </div>
</div>
