<div class="main-outer">
  <div class="container"   >
    <div class="row about-row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 about-col-1" data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
        <h1>What is a <br> system</h1>
        <p>System software is a sort of computer program that is used to run the hardware and application applications on
          a computer. If we consider the computer system to be a layered model, system software serves as the interface
          between the hardware and user applications.</p>
      </div>
      <div   class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 about-col-2" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fsystem-devlopment%2Fwhat-is-system.jpg?alt=media&token=6d89e9b4-1f6d-432e-9373-eb73d06e8229"
          alt="What is a system">
      </div>
    </div>
  </div>
</div>
