<div class="top-outer">

</div>
<div class="legal-main-outer container">
  <h1>E-Dealers Terms & Conditions</h1>
  <p>› <b><a href="/agreement/">E-Dealers Dealers Agreement</a></b> - this agreement governs your use of our
    services<br></p>
  <p>› <b><a href="/agreement/">E-Dealers Developers Agreement</a></b> - this agreement governs your use of our services<br>
  </p>
  <p>› <b><a href="/serviceterms/">E-Dealers Service Terms</a></b> - these additional terms apply to your use of
    specific services<br></p>
  <p>› <b><a href="/legal/service-level-agreements/">E-Dealers Ranking Level Agreements</a></b> - these service level
    agreements apply to your use of specific services<br></p>
  <p>› <b><a href="/trademark-guidelines/">E-Dealers Trademark Guidelines</a></b> - this page describes the guidelines
    for using certain of our trademarks and other designations<br></p>
  <p>› <b><a href="/terms/">E-Dealers Site Terms</a></b> - these terms govern your use of the AWS website<br></p>
  <p>› <b><a href="/privacy/">Privacy Notice</a></b>&nbsp;- this notice describes how information about you is used and
    shared<br></p>
  <p>› <a href="http://aws.amazon.com/legal/elemental-appliances-software-agreement"><b>E-Dealers Software Terms of
    Service</b>&nbsp;</a>- this agreement governs your purchase and use of products from Elemental Technologies LLC</p>
</div>
