<div class="main-outer">
  <div class="top-outer">
    <div class="col-12 header-text" data-aos="slide-up" data-aos-duration='1000' data-aos-once="true">
      <p><span>"</span>   We believe that it is our responsibility to ensure that our clients have a quality experience from start to
        finish. <br>Our extensive range of services is a result of this.<span>"</span>
      </p>
    </div>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 top-outer top-left outer" data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
        <div class="top-left-outer">
          <p style="text-align: right; padding-right: 30px">
            <button (click)="navigateToYoutube('https://www.youtube.com/channel/UCEPAuwKVNX9nO3A3xYXdHPg')" class="learn-more-btn" mat-flat-button color="primary">LEARN MORE
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </p>
          <br>
          <div class="top-left-outer-bg">
            <p class="top-left-title">Quality is never a byproduct of chance. In the end, it's always the consequence of
              work and effort. And
              the quality planning includes product development.
            </p>
            <br>
            <p class="top-left-desc">But when it comes to technological field, a quality project isn't just assessed by
              how long it takes to
              build; there are many other factors that contribute to its success.As a result, we offer a wide range of
              services to ensure the success of the project.
            </p>
            <ul class="top-left-list">
              <li>Cloud computing</li>
              <li>Database administration</li>
              <li>Architectural Design</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-6 top-right-outer outer" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
        <div class="image-wrap-1">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 bottom-left-outer outer" data-aos="slide-right" data-aos-duration='2000' data-aos-once="true">
        <div class="image-wrap-2"></div>
      </div>
      <div class="col-12 col-md-6 top-outer outer"  data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
        <div class="bottom-right-outer">
          <h1 class="bottom-left-title">Business <br>Consultation</h1>
          <p class="bottom-left-desc">Our expertise aids you in determining your company's precise requirements and
            developing the best solutions
            possible.
          </p>
          <button (click)="navigateToYoutube('https://www.youtube.com/channel/UCEPAuwKVNX9nO3A3xYXdHPg')" class="services-btn" mat-flat-button color="primary">LEARN MORE
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
