.main-outer {
  padding: 50px 0 0 0;
  background-color: #efefef;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header-text {
  overflow-x: hidden;
  overflow-y: hidden;
  span {
    font-size: 25px;
  }

  p {
    text-align: center;
    font-style: italic;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 20px;
  }
}

.learn-more-btn {
  padding: 8px 25px 8px 25px;
  border-radius: 25px;
  letter-spacing: 1px;
  background-color: white;
  color: black;

  mat-icon {
    margin: 0 0 0 5px;
    padding: 0;
  }
}

.learn-more-btn:hover {
  background-color: #0d6efd;
  color: white;
}

.outer {
  min-height: 400px;
  height: auto;
  padding: 0;

  overflow-x: hidden;
  overflow-y: hidden;
}

.top-left-outer-bg {
  background-color: white;
  padding: 30px 50px;
}

.top-left-outer {
  height: 100%;
  /* display: flex;
   flex-direction: column;
   justify-content: center;*/
}

.bottom-right-outer {
  height: 100%;
  padding: 50px;
}

.top-left-title {
  font-size: 20px;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

.bottom-left-title {
  font-size: 50px;
  font-weight: 400;
  word-spacing: 1px;
  text-align: justify;
  line-height: 45px;
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}

.top-left-desc {
  font-weight: 300;
  text-align: justify;
}

.bottom-left-desc {
  font-weight: 300;
  margin-top: 30px;
}

.top-left-list {
  margin-bottom: 0;
  padding-bottom: 0;

  li {
    font-weight: 300;
    letter-spacing: 1px;

  }
}

.top-right-outer, .bottom-left-outer {
  height: auto;
  overflow: hidden;
}

.image-wrap-1 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fservices%2Fservice-main-bg-1.jpg?alt=media&token=2c2edf71-fa63-4d9c-aabb-1452c7c40116");
  background-size: cover;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.image-wrap-1:hover {
  transform: scale(1.1);
}

.image-wrap-2 {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fservices%2Fservice-main-bg-2.jpg?alt=media&token=0e34d0d8-e2ff-4631-b361-c596525cb5bf");
  background-size: cover;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}

.image-wrap-2:hover {
  transform: scale(1.1);
}

.services-btn {
  padding: 5px 25px 5px 25px;
  border-radius: 25px;
  margin: 10px 0 10px 0;
  letter-spacing: 1px;
  background-color: #0d6efd;
  border: 2px solid transparent;
  color: white;

  mat-icon {
    font-size: 15px;
    padding: 5px;
  }
}

.services-btn:hover {
  background-color: white;
  color: #1D2B36;
  border: 2px solid #0d6efd;
}

@media only screen and (max-width: 768px) {
  .outer {
    min-height: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .bottom-left-title {
    font-size: 40px;
  }
}

