.top-wrapper{
  width: 100%;
  height: 107px;
  background-color: #34495e ;
}

.main-outer{
  padding: 50px 10px 20px 10px;
}
.mat-tab-link{
  color: black;
}
.active-route{
  background-color: #34495E;
  color: white;
  opacity: 1;
  border-radius: 0;
}
.header-text {
  color: #d35400;
}

