<div class="main-outer">
  <div class="row main-outer-row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 row-col-1"  data-aos="slide-right" data-aos-duration='2000' data-aos-once="true" >
      <div class="background-outer">
        <h1>Experience Are <br> More Satisfying <br> Than Things</h1>
      </div>
      <h1 class="experience-text">" We works to challenge clients' notions about possibilities with our own ideas by offering cutting-edge
        technology. In our designs, we strive to create something that people would appreciate. As a result, we believe
        our designs are high-caliber magnum opuses in which expertise and art combine to make your ideas shine.
        "</h1>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 row-col-2" data-aos="flip-up"  data-aos-delay="1000" data-aos-once="true">
      <p>
        Commitment is the key to our success. We have the foresight and vision to assist us reach an incredible finish.
        Our company is not based solely on our skills; it requires mastery of all business elements and a beneficial
        interconnection among them, all while adhering to the ideals that have made us stand out in the sector.<br> <br>
        Because of the world's rapid changes, technological advancements are occurring at a quick pace. We believe it is
        critical that we remain firm in our commitments to our judgments while modifying our methods to create an
        unrivaled masterwork that combines cutting-edge technology with excellent artwork.
      </p>
    </div>
    <div  class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 row-col-3" data-aos="slide-left" data-aos-duration='2000' data-aos-once="true">
      <img src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fsystem-devlopment%2FExperience.jpg?alt=media&token=5ea57050-f94b-4632-bc55-f762e216cc5e"
           alt="E-Dealers Experience">
    </div>
  </div>
</div>
