<div class="main-counter-outer" data-aos="slide-up" data-aos-duration="2000" data-aos-once="true">
  <div class="counter-content row container">
    <div class="col-12 col-sm-6 col-md column">
      <div class="icon-outer">
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </div>
      <div class="count-outer">
        <h3>{{happyCustomerCount}}+</h3>
        <h4>HAPPY CUSTOMERS</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md column">
      <div class="icon-outer">
        <mat-icon>task_alt</mat-icon>
      </div>
      <div class="count-outer">
        <h3>{{projectsCount}}+</h3>
        <h4>PROJECTS COMPLETED</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md column">
      <div class="icon-outer">
        <mat-icon>group</mat-icon>
      </div>
      <div class="count-outer">
        <h3>{{developersCount}}+</h3>
        <h4>DEVELOPERS</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md column">
      <div class="icon-outer">
        <mat-icon>public</mat-icon>
      </div>
      <div class="count-outer">
        <h3>{{countriesCount}}+</h3>
        <h4>COUNTRIES</h4>
      </div>
    </div>
  </div>
</div>
