<div class="main-outer">
  <div class="row" style="margin: 0">
    <div  class="left col-xl-6 col-lg-12 col-sm-12 col-12" data-aos="slide-right" data-aos-duration="2000" data-aos-once="true"></div>
    <div class="right col-xl-6 col-lg-12 col-sm-12 col-12" data-aos="slide-left" data-aos-duration="2000" data-aos-once="true">
      <div class="row">
        <div class="marketing col-xl-6 col-lg-6 col-sm-6 col-12">
          <h4>Development</h4>
          <p>We design software employing <br>a variety of technologies<br> and cutting-edge ideas.</p>
          <button (click)="navigateToYoutube('https://www.youtube.com/channel/UCEPAuwKVNX9nO3A3xYXdHPg')" class="button"
                  mat-flat-button>READ MORE
          </button>
        </div>
        <div    class="img-1 col-xl-6 col-lg-6  col-sm-6 col-12"></div>
      </div>
      <div class="row">
        <div    class="img-2 col-xl-6 col-lg-6 col-sm-6 col-12">

        </div>
        <div class="list col-xl-6 col-lg-6 col-sm-6 col-12 ">
          <div class="list-inner">
            <ul>
              <li>
                <mat-icon>remove</mat-icon>
                Talented Developers
              </li>
              <li>
                <mat-icon>remove</mat-icon>
                Fast Development
              </li>
              <li>
                <mat-icon>remove</mat-icon>
                After Services
              </li>
              <li>
                <mat-icon>remove</mat-icon>
                Responsibility
              </li><li>
                <mat-icon>remove</mat-icon>
              Reliability
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
