<div class="main-outer">
  <div class="row main-outer-row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 row-col-1"  data-aos="slide-right" data-aos-duration="2000" data-aos-once="true">
      <img src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fmake-money-with-us%2Fworld.png?alt=media&token=a36675d7-be9b-4d9b-b363-c6ed22bb615a"
           alt="E-Dealers Service area">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 row-col-2"  data-aos="slide-left" data-aos-duration="2000" data-aos-once="true">
      <h1>The Best World Team</h1>
      <p>Technology has reduced the world to the size of a village; spirituality has reduced it to the size of a global
        family. As a result, we wish to present the entire world with our designs, which are high-caliber magnum opuses
        in which skill and art join together to make your ideas come to life and sparkle.</p>
      <button mat-stroked-button color="primary" (click)="navigateToYoutube('https://www.youtube.com/channel/UCEPAuwKVNX9nO3A3xYXdHPg')">READ MORE</button>
    </div>
  </div>
</div>
