<div class="main-outer" >
  <div class="row" style="margin: 0" >
    <div class="left col-lg-6" data-aos="slide-right" data-aos-duration="2000" data-aos-once="true">
      <h2 >
        We created this program with the intention of causing a shift in the industry. It not only serves to produce an
        unprecedented masterwork that combines cutting-edge technology with superb artwork, but it also acts as a means
        for party A to generate a continuous income.
      </h2>
      <div class="row ">
        <div class="image col-lg-5">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/Seekerscloud-Our-Team%2FHasika.jpg?alt=media&token=952a310d-27b3-4a2b-9b2a-673edeef1f9a"
              alt="">
          <p class="one"> “When developing the app I didn't want to design just another app, but one that would improve
            people's lives.So with this app taste the fastest way to earn with us.”</p>
        </div>

        <div class="text col-lg-6">
          <P>
            The progress you make now will define your future billion-dollar revenues. The capacity to do a task once
            and correctly is crucial .
          </P>
          <p>
            In order to reach your goals and objectives, we create software by combining a variety of technologies and
            cutting-edge ideas.It also serves as a means for the party A to generate a consistent income.
          </p>
          <p>
            And we feel that what is important is to focus not just on building creative software, but also on
            developing reliable software. Furthermore, the project is entirely responsible for any technological issues
            that arise during or after completion, and we accept full responsibility for the entire project if this
            occurs.
          </p>
        </div>

      </div>
    </div>
    <div class="right col-lg-6" data-aos="slide-left" data-aos-duration="2000" data-aos-once="true">
      <div class="image-1">
        <img src="https://firebasestorage.googleapis.com/v0/b/seekerscloud-official-website.appspot.com/o/e-dealers%2Fabout%2Fseekers-cloud-team.jpg?alt=media&token=cf0079c9-4737-46f8-b067-c2179b02ae7f" alt="Seeker cloud team">
      </div>
      <div class="text-1">
        <h3>Seekers cloud team</h3>
        <P>It is impossible to acquire quality by luck. Each and every instance is the result of purposeful
          effort.Therefore, we make every effort to provide our consumers with products of the highest possible
          quality.Because of this, we have teamed with an experienced software company in order to deliver an
          indispensable service to our customers.</P>
      </div>
    </div>
  </div>
</div>
