<app-services-page-main-slider></app-services-page-main-slider>
<app-service-description-main-page></app-service-description-main-page>
<div class="services-main-outer">
    <h1 data-aos="slide-up" data-aos-duration='2000' data-aos-once="true">Services</h1>
    <p data-aos="slide-up" data-aos-duration='2000' data-aos-once="true">We feel it is our obligation to be accountable for the complete client experience.
      As a result, we offer a wide range of services to our clients in order to provide them with an exceptional client
      experience.
    </p>
  <app-provide-services></app-provide-services>
</div>

