.services-main-outer {
  padding: 50px 20px;
  background-color: #efefef;

  z-index: -500;
  overflow-x: hidden;
  overflow-y: hidden;

  h1 {
    font-size: 34px;
    font-weight: bold;
    padding: 0 5px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    overflow-x: hidden;
    overflow-y: hidden;
  }
  p {
    padding: 0 5px;

    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media only screen and (max-width: 767.5px) {
  .services-main-outer {
    padding: 10px 20px;
  }
}

